/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800;900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-secondary: #f2d5a9;
	--color-principal: #38063b;
	--color-tertiary: #8a2f8e;
}

.text-principal {
	color: var(--color-principal);
}

.text-secondary {
	color: var(--color-secondary);
}

.text-tertiary {
	color: var(--color-tertiary);
}

.bg-principal {
	background-color: var(--color-principal);
}

.bg-secondary {
	background-color: var(--color-secondary);
}

.bg-tertiary {
	background-color: var(--color-tertiary);
}

* {
	font-family: "Poppins", sans-serif;
}
